<div class="modal fade" id="employee_signup_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg signup-modal-master" role="document">
    <div class="modal-content signup-modal">
      <div class="modal-header text-center signup-title">
        <h4 class="modal-title font-weight-bold "><i class="fas fa-angle-double-right signup-arrow"></i></i> Sign Up to Find Shifts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-inputs sign-up-modal-form">
       <div class="p-3">
          <div>
            <%= simple_form_for(sign_up, url: sign_ups_path(sign_up)) do |f| %>
              <%= f.error_notification %>

                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            placeholder: "Email address",
                            input_html: { autocomplete: "email", id: "email-input" }
                            %>
                <%= f.input :rep,
                  required: false, as: :boolean, label: "I'd be interested in joining the template team to help spread the word" %>
                <%= f.hidden_field :employer, value: false %>

                <%= f.button :submit, "Sign up", id: "user-sign-up", class: "d-none btn btn-sign-up float-right"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
